.details {
  text-align: left;
  display: flex;
  margin: 28px 0;
  align-items: center;
}

.sub-section {
  margin: 12px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: baseline;
  margin: auto;
}

.row {
  box-sizing: border-box;
}

.label {
  font-size: medium;
  text-transform: uppercase;
  color: grey;
  font-size: 14px;
}

.value {
  font-size: 20px;
}

.edit-button {
  font-size: 14px;
  margin: 0 14px;
  align-items: center;
}

.edit-button:hover {
  color: blue;
  transform: none;
  font-weight: 500;
}

.form-control {
  padding: 4px;
  margin: 4px 0;
}
