.main-container {
  width: 100%;
  padding: 40px;
}

.tablestyle {
  width: 100%;
}

/* table,
th,
td {
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  border: 2px solid #2d3233;
  box-shadow: 3px 2px 4px #bbbbbb;
  box-sizing: border-box;
} */

table {
  width: 100%;
  height: 100%;
}
.empName:hover {
  color: black;
  font-weight: bold;
  transform: scale(1.5);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;

  overflow: hidden;

  width: 100%;
  margin: 0 auto;
  position: relative;
}

td,
th {
  padding-left: 8px;
}

thead tr {
  height: 60px;
  background: #002b2b;
  font-size: 16px;
  color: white;
}

tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}

tbody tr:last-child {
  border: 0;
}
